<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.okaufmann.jira-search</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>012D9C59-C93D-4C94-ABB6-314A991F0336</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60C9E7BF-6A58-4358-80E5-053D2E6AD80E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>024E798A-8C30-4491-8C6B-BAD6BB0BE06E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75EFF713-0663-4717-9EA4-2079BB161340</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60C9E7BF-6A58-4358-80E5-053D2E6AD80E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B380A595-6F9B-44A7-9A87-C156F7ED27FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>659CF568-A9E7-4BA8-9EA8-C820306C0DE6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD6BB301-2A29-4D80-91B5-56F04A8D05F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>75EFF713-0663-4717-9EA4-2079BB161340</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD6BB301-2A29-4D80-91B5-56F04A8D05F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B380A595-6F9B-44A7-9A87-C156F7ED27FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF7AACE1-A241-4C31-AAC2-D7CE94A826BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4BB229E4-1D78-42FC-BBDA-D2E4D865B61E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>659CF568-A9E7-4BA8-9EA8-C820306C0DE6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C7811571-698F-40F8-9AD9-4081A548186E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>49881B88-20EA-4E65-8808-FC9A52B455BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Oliver Kaufmann</string>
	<key>description</key>
	<string>Search Jira</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Jira Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>j auth</string>
				<key>subtext</key>
				<string>Sets the API key - `t key [Space ID],[Email],[API KEY]`</string>
				<key>text</key>
				<string>Set Jira Context</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>024E798A-8C30-4491-8C6B-BAD6BB0BE06E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>require 'vendor/autoload.php';

use Okaufmann\AlfredJiraSearch\Client;

$client = new Client;
$client-&gt;setAuthContext('{query}');</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>75EFF713-0663-4717-9EA4-2079BB161340</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>{var:push_title}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CD6BB301-2A29-4D80-91B5-56F04A8D05F9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FF7AACE1-A241-4C31-AAC2-D7CE94A826BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>j</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching</string>
				<key>script</key>
				<string>require 'vendor/autoload.php';

use Okaufmann\AlfredJiraSearch\Jira;

$client = new Jira;
echo $client-&gt;search('{query}');</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search Jira for given text</string>
				<key>title</key>
				<string>Search Jira Ticket by Title or ID</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>012D9C59-C93D-4C94-ABB6-314A991F0336</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>do_update</string>
						<key>outputlabel</key>
						<string>{query}</string>
						<key>uid</key>
						<string>4BB229E4-1D78-42FC-BBDA-D2E4D865B61E</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>B380A595-6F9B-44A7-9A87-C156F7ED27FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>query={query},
variables={allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>60C9E7BF-6A58-4358-80E5-053D2E6AD80E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>require 'vendor/autoload.php';

use Okaufmann\AlfredJiraSearch\Client;

$client = new Client;
$client-&gt;updateWorkflow();</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>659CF568-A9E7-4BA8-9EA8-C820306C0DE6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>push</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>C7811571-698F-40F8-9AD9-4081A548186E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Jira Workflow Error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>49881B88-20EA-4E65-8808-FC9A52B455BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow works toghether with Jira Cloud and gives you a fast way to search Issues by Title or Ticket Key.

**You need an API key to be able to use this workflow**
https://id.atlassian.com/manage-profile/security/api-tokens

Following commands are available:

- j {text} (Searches for the given text in your Jira instance)

</string>
	<key>uidata</key>
	<dict>
		<key>012D9C59-C93D-4C94-ABB6-314A991F0336</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>024E798A-8C30-4491-8C6B-BAD6BB0BE06E</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>49881B88-20EA-4E65-8808-FC9A52B455BD</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>60C9E7BF-6A58-4358-80E5-053D2E6AD80E</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>659CF568-A9E7-4BA8-9EA8-C820306C0DE6</key>
		<dict>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>75EFF713-0663-4717-9EA4-2079BB161340</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>B380A595-6F9B-44A7-9A87-C156F7ED27FA</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>C7811571-698F-40F8-9AD9-4081A548186E</key>
		<dict>
			<key>xpos</key>
			<integer>125</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>CD6BB301-2A29-4D80-91B5-56F04A8D05F9</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>FF7AACE1-A241-4C31-AAC2-D7CE94A826BD</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>{VERSION}</string>
	<key>webaddress</key>
	<string>https://oli-the.dev</string>
</dict>
</plist>
